.navbar{
background-color: #202A44;
width: 100%;
padding: 0;
margin: 0;
}

.nav-link.disabled {
  pointer-events: none;
  color: #999;
}

.navbar-nav .nav-link {
    margin-left: 30px;
    color: white;
  }
  
nav.navbar .navbar-brand {
    margin-left: 40px;
    color: white; 
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }

  .navbar-nav .slider-container {
    margin-left: 5rem;
  }
  

  .slider-label {
    color: #ffff;
  }
  
  .sidebar {
    width: 2500px; /* Adjust the width as needed */
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  
  
  
 